#root {
  margin: 0;
  text-align: center;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  filter: drop-shadow(0px 2px 4px rgba(18, 18, 18, 0.1));

  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: title_anim .4s ease-in;
}

.comming_soon_title{
  font-style: normal;
  font-weight: 700;

  font-size: 6vh;
  display: flex;
  align-items: center;

  color: var(--white);

  margin: 0;
}

@keyframes title_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sub{
  position: absolute;
  bottom: 0;

  height: 4vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: .2vw;

  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.subtitle{
  text-decoration: none;

  margin: 0;

  font-style: normal;
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 1.25vh;

  display: flex;
  align-items: center;
  align-self: center;

  color: var(--gray-100);

  transition: .1s linear;
}

a{
  cursor: pointer !important;
  pointer-events: all !important;
}

a:hover{
  color: var(--white);

  transition: .1s linear;
}

.background{
  pointer-events: none;
  user-select: none;

  position: absolute;

  object-fit: cover;
  width: 100vw;
  height: 120vw;

  z-index: -9;
  opacity: .15;
  filter: blur(5px);

  animation: bg_anim .45s ease-out;
}

@keyframes bg_anim {
  0% {
    opacity: 0;
  }
  35%{
    opacity: 0.02;
  }
  100% {
    opacity: .15;
  }
}